Farf_Project/Farf_Project.Web/obj/Debug/netcoreapp2.1/Farf_Project.Web.RazorAssemblyInfo.cache
Farf_Project/Farf_Project.Web/obj/Debug/netcoreapp2.1/Farf_Project.Web.LocalizedResources.LocalizedResources.pt.resources
Farf_Project/Farf_Project.Web/obj/Debug/netcoreapp2.1/Farf_Project.Web.LocalizedResources.LocalizedResources.en-US.resources
Farf_Project/Farf_Project.Web/obj/Debug/netcoreapp2.1/Farf_Project.Web.LocalizedResources.LocalizedResources.de-DE.resources
Farf_Project/Farf_Project.Web/obj/Debug/netcoreapp2.1/Farf_Project.Web.LocalizedResources.Core.LocalizedResources.pt.resources
Farf_Project/Farf_Project.Web/obj/Debug/netcoreapp2.1/Farf_Project.Web.LocalizedResources.Core.LocalizedResources.en-US.resources
Farf_Project/Farf_Project.Web/obj/Debug/netcoreapp2.1/Farf_Project.Web.LocalizedResources.Core.LocalizedResources.de-DE.resources
Farf_Project/Farf_Project.Web/obj/Debug/netcoreapp2.1/Farf_Project.Web.AssemblyInfoInputs.cache
Farf_Project/Farf_Project.Web/obj/Debug/netcoreapp2.1/Farf_Project.Web.AssemblyInfo.cs
Farf_Project/Farf_Project.Web/bin/Debug/netcoreapp2.1/appsettings.json
Farf_Project/Farf_Project.Web/bin/Debug/netcoreapp2.1/Farf_Project.Web.pdb
Farf_Project/Farf_Project.Web/bin/Debug/netcoreapp2.1/Farf_Project.Web.dll
Farf_Project/Farf_Project.Web/bin/Debug/netcoreapp2.1/Farf_Project.Web.deps.json
Farf_Project/Farf_Project.Web/bin/Debug/netcoreapp2.1/Farf_Project.Infrastructure.pdb
Farf_Project/Farf_Project.Web/bin/Debug/netcoreapp2.1/Farf_Project.Infrastructure.dll
Farf_Project/Farf_Project.Web/bin/Debug/netcoreapp2.1/Farf_Project.Core.pdb
Farf_Project/Farf_Project.Web/bin/Debug/netcoreapp2.1/Farf_Project.Core.dll
Farf_Project/Farf_Project.Web/obj/Debug/netcoreapp2.1/en-US/Farf_Project.Web.resources.dll
Farf_Project/Farf_Project.Web/obj/Debug/netcoreapp2.1/de-DE/Farf_Project.Web.resources.dll
Farf_Project/Farf_Project.Web/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Farf_Project/Farf_Project.Web/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Farf_Project/Farf_Project.Web/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Farf_Project/Farf_Project.Web/obj/Debug/netcoreapp2.1/Farf_Project.Web.pdb
Farf_Project/Farf_Project.Web/obj/Debug/netcoreapp2.1/Farf_Project.Web.dll
Farf_Project/Farf_Project.Web/obj/Debug/netcoreapp2.1/Farf_Project.Web.csprojAssemblyReference.cache
Farf_Project/Farf_Project.Web/obj/Debug/netcoreapp2.1/Farf_Project.Web.csproj.GenerateResource.cache
Farf_Project/Farf_Project.Web/obj/Debug/netcoreapp2.1/Farf_Project.Web.csproj.FileListAbsolute.txt
Farf_Project/Farf_Project.Web/obj/Debug/netcoreapp2.1/Farf_Project.Web.csproj.CoreCompileInputs.cache
Farf_Project/Farf_Project.Web/obj/Debug/netcoreapp2.1/Farf_Project.Web.csproj.CopyComplete
Farf_Project/Farf_Project.Web/obj/Debug/netcoreapp2.1/Farf_Project.Web.assets.cache
Farf_Project/Farf_Project.Web/obj/Debug/netcoreapp2.1/Farf_Project.Web.RazorTargetAssemblyInfo.cache
Farf_Project/Farf_Project.Web/obj/Debug/netcoreapp2.1/Farf_Project.Web.RazorAssemblyInfo.cs
Farf_Project/Farf_Project.Web/obj/project.assets.json
Farf_Project/Farf_Project.Web/obj/Farf_Project.Web.csproj.nuget.g.targets
Farf_Project/Farf_Project.Web/obj/Farf_Project.Web.csproj.nuget.g.props
Farf_Project/Farf_Project.Web/obj/Farf_Project.Web.csproj.nuget.cache
Farf_Project/Farf_Project.Web/obj/Debug/netcoreapp2.1/pt/Farf_Project.Web.resources.dll
Farf_Project/Farf_Project.Infrastructure/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Farf_Project/Farf_Project.Infrastructure/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Farf_Project/Farf_Project.Infrastructure/obj/Debug/netcoreapp2.1/Farf_Project.Infrastructure.csproj.FileListAbsolute.txt
Farf_Project/Farf_Project.Infrastructure/obj/Debug/netcoreapp2.1/Farf_Project.Infrastructure.csproj.CoreCompileInputs.cache
Farf_Project/Farf_Project.Infrastructure/obj/Debug/netcoreapp2.1/Farf_Project.Infrastructure.csproj.CopyComplete
Farf_Project/Farf_Project.Infrastructure/obj/Debug/netcoreapp2.1/Farf_Project.Infrastructure.assets.cache
Farf_Project/Farf_Project.Infrastructure/obj/Debug/netcoreapp2.1/Farf_Project.Infrastructure.AssemblyInfoInputs.cache
Farf_Project/Farf_Project.Infrastructure/bin/Debug/netcoreapp2.1/Farf_Project.Core.dll
Farf_Project/Farf_Project.Core/obj/project.assets.json
Farf_Project/Farf_Project.Core/obj/Farf_Project.Core.csproj.nuget.g.targets
Farf_Project/Farf_Project.Core/obj/Farf_Project.Core.csproj.nuget.g.props
Farf_Project/Farf_Project.Core/obj/Farf_Project.Core.csproj.nuget.cache
Farf_Project/Farf_Project.Core/obj/Debug/netcoreapp2.1/Farf_Project.Core.csproj.FileListAbsolute.txt
Farf_Project/Farf_Project.Core/obj/Debug/netcoreapp2.1/Farf_Project.Core.csproj.CoreCompileInputs.cache
Farf_Project/Farf_Project.Core/obj/Debug/netcoreapp2.1/Farf_Project.Core.assets.cache
Farf_Project/Farf_Project.Core/obj/Debug/netcoreapp2.1/Farf_Project.Core.AssemblyInfoInputs.cache
Farf_Project/Farf_Project.Infrastructure/obj/project.assets.json
Farf_Project/Farf_Project.Infrastructure/obj/Farf_Project.Infrastructure.csproj.nuget.g.targets
Farf_Project/Farf_Project.Infrastructure/obj/Farf_Project.Infrastructure.csproj.nuget.g.props
Farf_Project/Farf_Project.Infrastructure/obj/Farf_Project.Infrastructure.csproj.nuget.cache
Farf_Project/Farf_Project.Infrastructure/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Farf_Project/Farf_Project.Infrastructure/obj/Debug/netcoreapp2.1/Farf_Project.Infrastructure.pdb
Farf_Project/Farf_Project.Infrastructure/obj/Debug/netcoreapp2.1/Farf_Project.Infrastructure.dll
Farf_Project/Farf_Project.Infrastructure/obj/Debug/netcoreapp2.1/Farf_Project.Infrastructure.csprojAssemblyReference.cache
Farf_Project/Farf_Project.Infrastructure/obj/Debug/netcoreapp2.1/Farf_Project.Infrastructure.AssemblyInfo.cs
Farf_Project/Farf_Project.Infrastructure/bin/Debug/netcoreapp2.1/Farf_Project.Infrastructure.pdb
Farf_Project/Farf_Project.Infrastructure/bin/Debug/netcoreapp2.1/Farf_Project.Infrastructure.dll
Farf_Project/Farf_Project.Infrastructure/bin/Debug/netcoreapp2.1/Farf_Project.Infrastructure.deps.json
Farf_Project/Farf_Project.Infrastructure/bin/Debug/netcoreapp2.1/Farf_Project.Core.pdb
Farf_Project/Farf_Project.Core/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Farf_Project/Farf_Project.Core/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Farf_Project/Farf_Project.Core/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Farf_Project/Farf_Project.Core/obj/Debug/netcoreapp2.1/Farf_Project.Core.pdb
Farf_Project/Farf_Project.Core/obj/Debug/netcoreapp2.1/Farf_Project.Core.dll
Farf_Project/Farf_Project.Core/obj/Debug/netcoreapp2.1/Farf_Project.Core.AssemblyInfo.cs
